/* Regole reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Regole layout */
.container {
    max-width: 1200px;
    margin-inline: auto;
}

/* Utility */
.row {
    display: flex;
    flex-wrap: wrap;
}

.row--reverse {
    flex-direction: row-reverse;
}

/* Header */
.main-header {
    padding: 10px;
}

.main-header .container {
    padding: 14px;
}

.main-header__menu {
    flex-grow: 1;
}

/* Header debug */
.debug .main-header {
    background-color: #D8E9EF;
}

.debug .main-header .container {
    background-color: #EAD5A0;
}

.debug .main-header__logo,
.debug a {
    color: #888;
    text-decoration: none;
}

/* Menu */
.main-header__menu {
    list-style-type: none;
    justify-content: center;
}

.main-header__menu li {
    padding-inline: 10px;
}

/* Hero */
.hero {
    padding-block: 50px;
}

.hero .container {
    max-width: 910px;
}

/* Hero debug */
.debug .hero {
    background-color: #9393CB;
}

.debug .hero .container {
    height: 400px;
    background-color: #F2C7F2;
}

/* Card 60% 40% */
.card {
    padding-block: 50px;
}

.card .col-6 {
    flex-basis: 60%;
}

.card .col-4 {
    flex-basis: 40%;
}

/* Card 60% 40% debug */
.debug .card .container {
    height: 500px;
}

.debug .col-6 {
    background-color: #9FCDF9;
}

.debug .col-4 {
    background-color: #F9E0E4;
}

.debug .main-content>div:nth-child(2n+3) {
    background-color: #E7E7E7;
}

/* Card 100% */
.card-100 {
    padding-block: 50px;
}

.card-100 .col {
    flex-basis: 100%;
}

/* Card 100% debug */
.debug .card-100 .container .col {
    height: 900px;
    background-color: #A1CBA1;
}

/* Footer */
.footer__top {
    padding-block: 10px 40px;
    margin-bottom: 2px;
}

.footer__top .col-4 {
    flex-basis: calc(calc(100% / 12) * 4);
}

.footer__top .col-2 {
    flex-basis: calc(calc(100% / 12) *2);
}

.footer__bottom {
    padding-top: 26px;
}

.footer__bottom .row {
    justify-content: space-between;
}

/* Footer debug */
.debug .footer__top .container {
    height: 580px;
}

.debug .footer__top .col-4 {
    background-color: #F3C6C6;
}

.debug .footer__top .col-2 {
    border: 2px dashed #fff;
    background-color: #A0DAD7;
}

.debug .footer {
    background-color: #A1A3A4;
}

.footer__top {
    border-bottom: 2px solid #fff;
}

.debug .footer__top .container {
    height: 580px;
}

.debug .footer__bottom .container {
    padding-block: 24px;
    background-color: #C6F9E8;
}

.debug .footer__bottom .container>* {
    line-height: 36px;
    padding-inline: 5px;
    background-color: #F9DCE0;
    color: #888;
}