/* Regole reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Regole layout */
.container {
    max-width: 1200px;
    margin-inline: auto;
}

/* Utility */
.flex {
    display: flex;
}

.flex--reverse {
    flex-direction: row-reverse;
}

/* Header */
.main-header {
    padding: 10px;
}

.main-header .container {
    padding: 14px;
}

.main-header__menu {
    flex-grow: 1;
}

/* Header debug */
.debug .main-header {
    background-color: #D8E9EF;
}

.debug .main-header .container {
    background-color: #EAD5A0;
}

.debug .main-header__logo,
.debug a {
    color: #888;
    text-decoration: none;
}

/* Menu */
.main-header__menu {
    list-style-type: none;
    justify-content: center;
}

.main-header__menu li {
    padding-inline: 10px;
}

/* Hero */
.hero {
    padding-block: 50px;
}

.hero .container {
    max-width: 910px;
}

/* Hero debug */
.debug .hero {
    background-color: #9393CB;
}

.debug .hero .container {
    height: 400px;
    background-color: #F2C7F2;
}

/* Card 60% 40% */
.card {
    padding-block: 50px;
}

.card .col-6 {
    flex-basis: 60%;
}

.card .col-4 {
    flex-basis: 40%;
}

/* Card 60% 40% debug */
.debug .container {
    height: 500px;
}

.debug .col-6 {
    background-color: #9FCDF9;
}

.debug .col-4 {
    background-color: #F9E0E4;
}